{{#each this}}
  <h1 class='country-name'><img src='{{flags.svg}}' alt='flag of {{name.official}}' width='80' />
    {{name.official}}</h1>
  <p class='capital'><span>Capital: </span>{{capital}}</p>
  <p class='population'><span>Population: </span>{{population}}</p>
  <p class='langList'><span>Languages: </span>{{languages}}</p>
{{/each}}